nav{
    display: flex;
    list-style-type: none;
    background-color: chocolate;
    color: aliceblue;
    justify-content: space-around;
    padding: 10px;
}

b{
    color: rgb(85, 26, 139);
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}