/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,  #911b8d, #7522a5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
}
.center-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
h2 {
    font-weight: 600;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 100%;
}
th, td {
    padding: 8px;
}
input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
input:focus {
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
}
button {
    background: #95ff80;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
}
button:hover {
    background: #ff4757;
}
p {
    margin-top: 15px;
}
a {
    color: #fbd786;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}